<html>

<head>
    <style>

    </style>

</head>

<body>



    <div class="row">
        <div class="col">
            Get 10% instant off on prepaid orders above ₹999 or 5% instant off on prepaid orders below ₹999

            <span class="ma">STORE LOCATOR|
                TRACK ORDER</span>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-2">
            <a href="/home">
                <h2 class="bold " style="color: #ed1c24;">LIBERTY</h2>
            </a>
        </div>
        <div class="col-8 ">
            <ul class="nav">
                
                
                <li class="nav-item"><a href="/shop/women" class="nav-link">WOMEN</a></li>
                <li class="nav-item"><a href="/shop/men" class="nav-link">MEN</a></li>
                <li class="nav-item"><a href="/shop/kids" class="nav-link">KIDS</a></li>
                <li class="nav-item"><a href="/displayCart" class="nav-link">CART</a></li>
                <li class="nav-item"><a href="/registration" class="nav-link">CREATEACCOUNT</a></li>
                <li class="nav-item"><a href="" class="nav-link"><span class="color">WOMEN'S DAY SALE</a></li>
            </ul>
        </div>
        <div class="col-2">

            <ion-icon name="search-outline" style="color: grey;"></ion-icon><span class="cu">search</span>
            <ion-icon name="person-outline" style="color: grey;"></ion-icon>
            <ion-icon name="heart-outline" style="color: grey;"></ion-icon>
            <ion-icon name="lock-closed-outline" style="color: grey;"></ion-icon>

        </div>
    </div>
</body>

</html>